a .menu {
  font-weight: 700;
}

a:link .menu {
  color: black;
}
a:visited .menu {
  color: black;
}
a:hover .menu {
  color: #c2b2dd;
}
a:active .menu {
  color: black;
}
a:checked .menu {
  color: red;
}

.logo {
  color: #797383;
  font-weight: 700;
  font-size: 22px;
}
.loginbtn {
  border-radius: 20px;
  border-color: #bac7cc;
}
.loginbtn:hover {
  border-color: #a5b0b5;
  background-color: #a5b0b5;
}
.signupbtn {
  background-color: #c2b2dd;
  border-color: #c2b2dd;
  border-radius: 20px;
}
.signupbtn:hover {
  border-color: #9f93b5;
  background-color: #9f93b5;
}
